body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 20px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

footer {
    color: #ddd;
    padding: 20px;
    text-align: center;
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.content-filler {
    min-height: 400px;
}

.title-row {
    position: relative;
    min-height: 300px;
}
.title-image {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.down-button i {
    color: white;
}       

.content-area {
    padding-left: 60px;
    padding-right: 60px;
}  

.social-media-panel {
    padding-top: 60px;
}  

.btn-linkedin {
    background-color: #007bb6;
    border-color: #007bb6;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006da2;
    background-image: -moz-linear-gradient(top,#007bb6,#005983);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#007bb6),to(#005983));
    background-image: -webkit-linear-gradient(top,#007bb6,#005983);
    background-image: -o-linear-gradient(top,#007bb6,#005983);
    background-image: linear-gradient(to bottom,#007bb6,#005983);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff007bb6', endColorstr='#ff005883', GradientType=0);
    border-color: #005983 #005983 #002537;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background-color: #005983;
}

.btn-linkedin:active,
.btn-linkedin.active,
.btn-linkedin.active:hover {
    background-color: #006a9d;
    border-color: #005983;
}
        
.btn-linkedin.disabled:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin.disabled:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled] .btn-linkedin:hover,
.btn-linkedin[disabled] .btn-linkedin:focus,
.btn-linkedin[disabled] .btn-linkedin:active,
.btn-linkedin[disabled] .btn-linkedin.active {
    background-color: #007bb6;
    border-color: #007bb6;
}
    
.btn-github {
    background-color: #6e5494;
    border-color: #6e5494;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #644d87;
    background-image: -moz-linear-gradient(top,#6e5494,#564273);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#6e5494),to(#564273));
    background-image: -webkit-linear-gradient(top,#6e5494,#564273);
    background-image: -o-linear-gradient(top,#6e5494,#564273);
    background-image: linear-gradient(to bottom,#6e5494,#564273);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6e5494', endColorstr='#ff554173', GradientType=0);
    border-color: #564273 #564273 #322643;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-github:hover,
.btn-github:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-github:hover,
.btn-github:focus {
    background-color: #564273;
}

.btn-github:active,
.btn-github.active,
.btn-github.active:hover {
    background-color: #624b84;
    border-color: #564273;
}

.btn-github.disabled:hover,
.btn-github.disabled:focus,
.btn-github.disabled:active,
.btn-github.disabled.active,
.btn-github[disabled] .btn-github:hover,
.btn-github[disabled] .btn-github:focus,
.btn-github[disabled] .btn-github:active,
.btn-github[disabled] .btn-github.active {
    background-color: #6e5494;
    border-color: #6e5494;
} 

.btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #355089;
    background-image: -moz-linear-gradient(top,#3b5998,#2d4373);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#3b5998),to(#2d4373));
    background-image: -webkit-linear-gradient(top,#3b5998,#2d4373);
    background-image: -o-linear-gradient(top,#3b5998,#2d4373);
    background-image: linear-gradient(to bottom,#3b5998,#2d4373);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff2c4373', GradientType=0);
    border-color: #2d4373 #2d4373 #17233c;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-facebook:hover,
.btn-facebook:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-facebook:hover,
.btn-facebook:focus {
    background-color: #2d4373;
}

.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.active:hover {
    background-color: #344e86;
    border-color: #2d4373;
}

.btn-facebook.disabled:hover,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled] .btn-facebook:hover,
.btn-facebook[disabled] .btn-facebook:focus,
.btn-facebook[disabled] .btn-facebook:active,
.btn-facebook[disabled] .btn-facebook.active {
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #1696e4;
    background-image: -moz-linear-gradient(top,#1da1f2,#0c85d0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#1da1f2),to(#0c85d0));
    background-image: -webkit-linear-gradient(top,#1da1f2,#0c85d0);
    background-image: -o-linear-gradient(top,#1da1f2,#0c85d0);
    background-image: linear-gradient(to bottom,#1da1f2,#0c85d0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da1f2', endColorstr='#ff0b85d0', GradientType=0);
    border-color: #0c85d0 #0c85d0 #085788;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-twitter:hover,
.btn-twitter:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-twitter:hover,
.btn-twitter:focus {
    background-color: #0c85d0;
}

.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.active:hover {
    background-color: #0d95e8;
    border-color: #0c85d0;
}

.btn-twitter.disabled:hover,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled] .btn-twitter:hover,
.btn-twitter[disabled] .btn-twitter:focus,
.btn-twitter[disabled] .btn-twitter:active,
.btn-twitter[disabled] .btn-twitter.active {
    background-color: #1da1f2;
    border-color: #1da1f2;
}
    
.btn-wordpress {
    background-color: #21759b;
    border-color: #21759b;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #1d688a;
    background-image: -moz-linear-gradient(top,#21759b,#185571);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#21759b),to(#185571));
    background-image: -webkit-linear-gradient(top,#21759b,#185571);
    background-image: -o-linear-gradient(top,#21759b,#185571);
    background-image: linear-gradient(to bottom,#21759b,#185571);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff21759b', endColorstr='#ff185570', GradientType=0);
    border-color: #185571 #185571 #0b2632;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-wordpress:hover,
.btn-wordpress:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-wordpress:hover,
.btn-wordpress:focus {
    background-color: #185571;
}

.btn-wordpress:active,
.btn-wordpress.active,
.btn-wordpress.active:hover {
    background-color: #1d6586;
    border-color: #185571;
}

.btn-wordpress.disabled:hover,
.btn-wordpress.disabled:focus,
.btn-wordpress.disabled:active,
.btn-wordpress.disabled.active,
.btn-wordpress[disabled] .btn-wordpress:hover,
.btn-wordpress[disabled] .btn-wordpress:focus,
.btn-wordpress[disabled] .btn-wordpress:active,
.btn-wordpress[disabled] .btn-wordpress.active {
    background-color: #21759b;
    border-color: #21759b;
}

.btn-free-code-camp {
    background-color: #0f723a;
    border-color: #0f723a;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #0d6031;
    background-image: -moz-linear-gradient(top,#0f723a,#094523);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0f723a),to(#094523));
    background-image: -webkit-linear-gradient(top,#0f723a,#094523);
    background-image: -o-linear-gradient(top,#0f723a,#094523);
    background-image: linear-gradient(to bottom,#0f723a,#094523);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0f723a', endColorstr='#ff094423', GradientType=0);
    border-color: #094523 #094523 #000101;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-free-code-camp:hover,
.btn-free-code-camp:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-free-code-camp:hover,
.btn-free-code-camp:focus {
    background-color: #094523;
}

.btn-free-code-camp:active,
.btn-free-code-camp.active,
.btn-free-code-camp.active:hover {
    background-color: #0c5b2f;
    border-color: #094523;
}

.btn-free-code-camp.disabled:hover,
.btn-free-code-camp.disabled:focus,
.btn-free-code-camp.disabled:active,
.btn-free-code-camp.disabled.active,
.btn-free-code-camp[disabled] .btn-free-code-camp:hover,
.btn-free-code-camp[disabled] .btn-free-code-camp:focus,
.btn-free-code-camp[disabled] .btn-free-code-camp:active,
.btn-free-code-camp[disabled] .btn-free-code-camp.active {
    background-color: #0f723a;
    border-color: #0f723a;
}

.btn-codepen {
    background-color: #ae63e4;
    border-color: #ae63e4;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #a552e1;
    background-image: -moz-linear-gradient(top,#ae63e4,#9738dc);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ae63e4),to(#9738dc));
    background-image: -webkit-linear-gradient(top,#ae63e4,#9738dc);
    background-image: -o-linear-gradient(top,#ae63e4,#9738dc);
    background-image: linear-gradient(to bottom,#ae63e4,#9738dc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae63e4', endColorstr='#ff9737dc', GradientType=0);
    border-color: #9738dc #9738dc #6f1daa;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-codepen:hover,
.btn-codepen:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-codepen:hover,
.btn-codepen:focus {
    background-color: #9738dc;
}

.btn-codepen:active,
.btn-codepen.active,
.btn-codepen.active:hover {
    background-color: #a34de0;
    border-color: #9738dc;
}

.btn-codepen.disabled:hover,
.btn-codepen.disabled:focus,
.btn-codepen.disabled:active,
.btn-codepen.disabled.active,
.btn-codepen[disabled] .btn-codepen:hover,
.btn-codepen[disabled] .btn-codepen:focus,
.btn-codepen[disabled] .btn-codepen:active,
.btn-codepen[disabled] .btn-codepen.active {
    background-color: #ae63e4;
    border-color: #ae63e4;
}

/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}















